* {
  box-sizing: border-box;
}

body {
  font-family: 'Montserrat', sans-serif;
  font-size: 16px;
  background: linear-gradient(to right, rgba(245, 247, 250, 0.5), rgba(195, 207, 226, 0.5));
  margin: 0;
}

header {
  /* background: #708090; */
  background: #dc6a83;
  color: #FFFFFF;
  padding: 0.5rem 3vw;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

nav {
  display: flex;
  /* padding: 0.5rem; */
  background: #DDE8F2;
}

nav a {
  text-decoration: none;
  /* margin: 0 1rem; */
  padding: 0.5rem 1rem;
  color: inherit;
  border-radius: 5px;
  font-weight: 600;
  text-transform: uppercase;
  text-align: center;
}

nav a:hover {
  text-decoration: underline #708090 2px;
  /* background: #708090; */
  /* color: #FFFFFF; */
}

nav ul {
  list-style-type: none;
  display: flex;
}

nav ul li {
  text-decoration: none;
  /* margin: 0 1rem; */
  padding: 0.5rem 1rem;
  border-radius: 5px;
  color: #000000;
  font-weight: 600;
  text-transform: uppercase;
  text-align: center;
}

.current {
  background: #708090;
  color: #FFFFFF;
}

.container {
  width: 80%;
  margin: 2rem auto;
}

.page-titles {
  color: #ff829d;
}

.wrapped {
  width: 50%;
  margin: 0 0 0 2%;
  float: right;
}

.wrapped img {
  width: 100%;
  height: auto;
  padding: 0 auto;
}

img {
  max-width: 100%;
}

footer {
  text-align: center;
  padding: 1rem 0;
  /* background: #708090; */
  background: #dc6a83;
  color: #FFFFFF;
  width: 100%;
  bottom: 0;
}

.gallery {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 1.5rem;
}

.gallery figure {
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  border-radius: 5px;
  border-width: 3px;
  border-style: solid;
  border-image: linear-gradient(to right, #e0c3c3 0%, #c1d5f7 100%) 1;
  margin: 0;
}

.gallery figcaption {
  text-align: center;
  padding: 0.5rem;
  background: #f5f5f5;
}

.package {
  border: 1px solid #ccc;
  border-radius: 5px;
  padding: 1rem;
  margin-bottom: 1rem;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

main {
  padding: 1rem 2vw;
}

main p {
  margin: 0 0 .3rem 0;
}

main h2 {
  margin-bottom: 1rem;
}

.form-container {
  display: flex;
  justify-content: center;
}

form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 20px;
  width: 100%;
}

fieldset {
  gap: 10px;
  padding: 20px;
}

.personalFieldset {
  display: flex;
  flex-direction: column;
}

.timeFieldset {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.guestFieldset {
  display: flex;
  gap: 30px;
}

.messageFieldset {
  display: flex;
  flex-direction: column;
}

label {
  font-weight: bold;
}

input {
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  max-width: 450px;
}

textarea {
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  min-height: 200px;
}

button {
  background-color: #708090;
  font-size: 1rem;
  color: #fff;
  padding: 10px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  max-width: 200px;
  margin: 1rem 0;
}

button:hover {
  background-color: #5f6c7a;
}

/* Contact section styling */
.contact {
  padding: 20px;
  background: #fff;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  border-radius: 10px;
  max-width: 600px;
  margin: 20px auto;
  text-align: left;
}

main {
  max-width: 64rem;
  /* height: 100vh; */
  margin: 0 auto;
}

/* Media Queries */
@media only screen and (max-width: 800px) {
  
  nav ul {
    display: block;
    width: 100%;
    padding: 0;
  }

  nav ul li {
    border-radius: 0;
    padding: 1rem 0;
  }

  nav li.current a {
      background-color: #708090;
      color: #FFFFFF;
  }

  button {
    border-radius: 30px;
  }

}